<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-3" href="#">Pokemon</a>
    <button class="navbar-toggler me-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarNav">

        <ul class="navbar-nav mx-auto ms-auto me-0">
            <li class="nav-item active ms-4">
                <a class="nav-link active fw-bold" href="#">Home </a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fw-bold" href="#">About</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link fw-bold" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>