<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Browse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Pokémons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
    </li>
</ul>