<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Browse</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/my-pokemons" Match="NavLinkMatch.All">My Pokémons</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/statistics" Match="NavLinkMatch.All">Statistics</NavLink>
    </li>
</ul>