@page "/about"
<PageTitle>Pokemon - About</PageTitle>

<h3>About</h3>

<p>This is a simple application that uses the <strong>Pokemon API</strong> to display a list of Pokemons. You can navigate through the list of Pokemons using the pagination bar at the bottom of the page.</p>