@page "/"

@using pokemon_portal_blazor.Components

<PageTitle>Pokemon - Home</PageTitle>

<NavBar />

<SearchBar OnSearch="OnSearchAsync"/>

<!-- Filter to be implemented later -->
@* <div class="d-flex justify-content-between mb-3">
    <select class="form-control w-25">
        <option>Sort by</option>
    </select>
    <select class="form-control w-25">
        <option>Pokémon type</option>
    </select>
    <button class="btn btn-secondary">Clear All</button>
</div> *@

<div class="row">
    @foreach (var pokemon in PokemonSearchResponse.Items)
    {
        <PokemonCard Pokemon="pokemon" OnPokemonCaptured="OnPokemonCapture" OnPokemonReleased="OnPokemonRelease" />
    }
</div>

<PaginationBar TotalPages="PokemonSearchResponse.TotalPages" CurrentPage="PokemonSearchResponse.PageNumber" OnPageChanged="OnPageChangedAsync" />