@page "/my-pokemons"
@using pokemon_portal_blazor.Components

<PageTitle>My Pokemons</PageTitle>

<NavBar/>

<div class="my-3">
    <input type="text" class="form-control" placeholder="Search for Pokémons" aria-label="Search">
</div>

<div class="my-3">My Pokemons Page is under construction</div>

@code {

}
