@page "/my-pokemons"
@using pokemon_portal_blazor.Components

<PageTitle>My Pokemons</PageTitle>

<NavBar/>

<SearchBar OnSearch="OnSearchAsync" />

<div class="row">
    @foreach (var pokemon in PokemonSearchResponse.Items)
    {
        <PokemonCard Pokemon="pokemon" OnPokemonReleased="OnPokemonRelease" />
    }
</div>

<PaginationBar TotalPages="PokemonSearchResponse.TotalPages" CurrentPage="PokemonSearchResponse.PageNumber" OnPageChanged="OnPageChangedAsync" />