@page "/statistics"
@using pokemon_portal_blazor.Components
@using pokemon_portal_blazor.Components.ChartCards

<PageTitle>Pokemon - Statistics</PageTitle>

<NavBar />

@if (StatisticsModel == null)
{
    <div class="d-flex justify-content-center my-4">
        <Spinner Type="SpinnerType.Dots" Class="my-4" Color="SpinnerColor.Primary" />
    </div>
}
else
{
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-3">
                <div class="chart-title">Top Pokémon by Catch Count</div>
                <CatchCountCard Data="StatisticsModel?.CatchCountCardData"/>
            </div>

            <div class="col-md-3 mt-2">
                <PokemonsByPower Data="StatisticsModel?.PokemonsByPower" />
            </div>


            <div class="col-md-3 mt-2">
                <CatchCountByPower Data="StatisticsModel?.PokemonsByPower.Where(p => p.CatchCount > 0).ToList()" />
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chart-title">Number of pokémons, Avg Attach, and Avg Defense by Power</div>
                <AveragesByPower Data="StatisticsModel?.AveragesByPower" />
            </div>
        </div>
    </div>
}
